<div class="jumbotron">
    
    <h1>API RESTful</h1>
    <p class="lead">Serviço web API com .net Framework 4.6 C# </p>
    
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Web API</h2>
        <p>Web API é um recurso do .NET Framework que permiti criar de uma forma muito fácil serviços REST</p>        
    </div>
    
</div>
